.inner {
    overflow: visible;
}

.content {
    padding: 35px 25px;
    margin: 0 0;
}

.arrow {
    background: url(/assets/right-arrow-outline.svg) center center no-repeat;
    background-size: contain;
    width: 92px;
    height: 35px;
}

.label {
    margin: 6px 0;
    width: 220px;
    white-space: pre-line;
    text-transform: capitalize;
}

.custom-label {
    width: 65px;
    margin: 6px;
    white-space: pre-line;
    text-transform: capitalize;
}

.owners-label {
    margin-top: 48px;
}

.delete-icon {
    background: url(/assets/delete-task.svg) center center no-repeat;
    background-size: 18px auto;
    width: 33px;
    height: 33px;
    cursor: pointer;
}

.add-sync-icon {
    background: url(/assets/add-and-sync.svg) center center no-repeat;
    background-size: 27px auto;
    width: 33px;
    height: 26px;
    cursor: pointer;
}

.add {
    background: url(/assets/add-button.svg) center center no-repeat;
    background-size: 106px auto;
    width: 87px;
    height: 35px;
    cursor: pointer;
    border-radius: 4px;
}

.return {
    background: url(/assets/return.svg) center center no-repeat;
    background-size: 20px auto;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 15px;
}
